body{	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	background-image: url('../images/background.png');
	background-repeat: repeat;
	width: 100%;
	height: 100%;
}

h1{float: left;}

img{
	margin-bottom: 10px;
	float: left;
	padding-right: 5px;
}

nav {
    background: #fff;
    color: #ccc;
    float: right;
    position: relative;
    top: 7px;
}


#portfolio_1 {
	width: 100%;
    height: 268px;
    background-image: url('../images/portfolio_1.jpg');
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
    background-size: cover;
}

#portfolio_2 {
	background: #000;
    width: 100%;
    height: 268px;
    background-image: url('../images/portfolio_2.jpg');
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
    background-size: cover;

}

#portfolio_3 {
	background: #eee;
	width: 100%;
    height: 268px;
    background-image: url('../images/portfolio_3.jpg');
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
    background-size: cover;

}

#portfolio_4 {
	background: #eee;
    width: 100%;
    height: 268px;
    background-image: url('../images/portfolio_4.jpg');
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
    background-size: cover;

}

#portfolio_5 {
	background: #bbb;
    width: 100%;
    height: 268px;
    background-image: url('../images/portfolio_5.jpg');
	background-repeat: no-repeat;
	position: relative;
	margin: 0 auto;
    background-size: cover;
}

.col-lg-6 {
	margin-bottom: 36px;
}


.white_bg{
	background: #fff;
}

.social_icons {
	padding: 29px;
}


.col-md-8{
	background-color: #fff;
}



.navbar-right {
	margin: 10px 0px 10px 0px;
}

.navbar-brand{
	margin: 10px 0px 10px 0px;

}

.wrapper {
	width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.header{
	background: #FFF;
}



footer{
	background: #FFF;
}

#stack {
	background-image: url('../images/stackoverflow.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	position: relative;
    left: 21px;
}

#github {
	background-image: url('../images/github.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: left;
	padding-right: 18px;

}

#linkedin {
	background-image: url('../images/linked.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: right;
}

#facebook {
	background-image: url('../images/facebook.png');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	float: right;
}

#header_icons {
	top: 50px;

}

#email{
	background-image: url('../images/email.png');
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
}

footer {
	text-align: center;
}

#border {	
	border-right: 1px solid #eee;
}


.portfolio_title {
	background: #4aaaa5;
    width: 100%;
    color: #fff;
    padding: 20px 0px 20px 0px;
    top: 168px;
    position: absolute;
    text-align: center;
}

@media screen and (max-width: 980px) {
	img {
		display: block;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 20px;
	}

	#linkedin { 
    	float:left;
    }
   
   #github {
    	padding-right: 10px;
    }

}

@media screen and (max-width: 768px) {
	img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    float: left;
    padding-right: 20px;
	}

	#sidebar {
		padding: 0px !important;
    	margin-top: 22px;
    	border-radius: 0px !important;
    }

   #linkedin { 
    	float:left;
		position: relative; 
		left: 10px;   	
    }

    #github {
    	padding-right: 10px;
    	float: left;
    }

    #stack {
		float: left;
		position: relative;
	}

	.social_icons{
		padding: 2px;
	}

}

@media screen and (max-width: 640px) {
	img {
		display: block;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 20px;
	}

	#sidebar {
		padding: 0px !important;
    	margin-top: 22px;
    	border-radius: 0px !important;
    }



}
